<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <connect>
        <host>127.0.0.1</host>
        <port>80</port>
        <uri>/handler</uri>
    </connect>

    <session>
        <id>8b939bb8-1faa-4d62-8b42-43d63774e1d0</id>
    </session>

    <bind>
        <host>127.0.0.1</host>
        <port>80</port>
    </bind>

    <database>
        <host>127.0.0.1</host>
        <port>27017</port>
        <user>pingponguser</user>
        <password>pingponguser</password>
        <name>pingpong</name>
    </database>
</config>
